<div class="btn-group">
  <button type="button" class="btn" (click)="viewMain()">Return to Main</button>
</div>

<div class="container">
  <div class="card-container">
    <ng-container *ngFor="let film of filmList" >
      <div class="card">
        <div class="card-title">STAR WARS: {{film.title}} ( Episode {{film.episode_id}} )</div>
        <div class="card-resume">{{film.opening_crawl}}</div>

        <div class="card-stuff">Film Director: {{film.director}}</div>
        <div class="card-stuff">Productor: {{film.producer}}</div>
        <div class="card-stuff">Release Date: {{film.release_date}}</div>
        <button class="btn" (click)="film.visibility = !film.visibility">View characters</button>
        <div class="card-toggle" *ngIf="film.visibility == true">
          <ng-container *ngFor="let character of film.characters">
            <div><a [attr.href]="character" target="_blank">{{character}}</a></div>
          </ng-container>
        </div>

      </div>
    </ng-container>
  </div>
</div>

