.card-container {
  display: flex;
  flex-direction: column;
  margin: 1em 0.5em;
  flex-wrap: wrap;
}
.card {
  color: #ffffff;
  border-radius: 0.3em;
  border: 1px solid black;
  padding: 1.5em;
  margin-bottom: 1em;

  background-color: #757575;

  div {
    margin-bottom: 1em;
  }
  .card-title {
    font-family: 'Star Vader';
    font-size: 1.5em;
    line-height: 2em;

  }
  .card-resume {
    font-family: 'Arial';
    font-size: 1.2em;
  }
  .card-stuff {
    font-family: 'Arial';
    font-size: 0.9em;
  }
  .card-toggle {
    margin:1em 0;
    border-radius: 0.3em;
    border: 1px solid #ffffff;
    div{
      margin-left: 1em;
      font-family: "Star Vader";
      &:first-child {
        margin-top: 1em;
      }
      a, a:visited {
        color:white;
      }
    }
  }
}
