
@font-face {font-family: "Star Vader"; src: url("//db.onlinewebfonts.com/t/da365751e2d5e0223c424e0a4926fced.eot"); src: url("//db.onlinewebfonts.com/t/da365751e2d5e0223c424e0a4926fced.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/da365751e2d5e0223c424e0a4926fced.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/da365751e2d5e0223c424e0a4926fced.woff") format("woff"), url("//db.onlinewebfonts.com/t/da365751e2d5e0223c424e0a4926fced.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/da365751e2d5e0223c424e0a4926fced.svg#Star Vader") format("svg"); }


body {
  background-color: red;
}
