<div class="btn-group">
  <button type="button" class="btn" (click)="viewMain()">Return to Main</button>
</div>

<div class="container">
  <div class="card-container">
    <ng-container *ngFor="let character of characterList" >
      <div class="card">
        <div class="card-title">{{character.name}}</div>
        <div class="card-stuff">Height: {{character.height}}</div>
        <div class="card-stuff">Mass: {{character.mass}}</div>
        <div class="card-stuff">Hair color: {{character.hair_color}}</div>
        <div class="card-stuff">Skin color: {{character.skin_color}}</div>
        <div class="card-stuff">Eye color: {{character.eye_color}}</div>
        <div class="card-stuff">Birth Year: {{character.birth_year}}</div>
        <div class="card-stuff">Gender: {{character.gender}}</div>
        <div class="card-stuff">Homeworld: {{character.homeworld}}</div>
        <div class="card-toggle">
          <ng-container *ngFor="let film of character.films">
            <div><a [attr.href]="film" target="_blank">{{film}}</a></div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
