/* You can add global styles to this file, and also import other style files */

@import url(//db.onlinewebfonts.com/c/da365751e2d5e0223c424e0a4926fced?family=Star+Vader);

html {
  background-image: url(assets/star-wars-backgrounds-25.jpg)
}

.btn {
  padding:1em;
  border-radius: 0.3em;
  border:none;
  cursor:pointer;
  font-family: Arial;
  font-size: 1em;
  margin-right: 1em;
}
.btn-group {
  margin-top: 1em;
  margin-left: 0.5em;
}
